@import "./variables.module";

a {
	color: $text-color-dark;
}

@media (prefers-color-scheme: light) {
	html {
		background-color: $background-color-light;
		color-scheme: light;
		transition: 0.3s ease;
	}

	header {
		background-color: #eee;
	}

	// Sidebar styles
	.all-countries {
		background-color: rgba($color: #fafafa, $alpha: 0.7);
		.country-name {
			background-color: #ffffff;
		}
	}

	.info-box {
		background-color: #eee;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	svg {
		g {
			rect {
				&:nth-child(1) {
					fill: $background-color-light;
				}
			}
			text {
				fill: $text-color-dark;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: $background-color-dark;
		color-scheme: dark;
		transition: 0.3s ease;
	}

	header {
		background-color: #181818;
	}

	// Sidebar styles
	.all-countries {
		background-color: rgba($color: $background-color-dark, $alpha: 0.7);

		.country-name {
			background-color: $background-color-dark;

			a {
				color: $text-color-light;
			}
		}

		button {
			color: $text-color-light;
		}
	}

	.info-box {
		background-color: $background-color-dark;
	}

	// Country Info styles
	.country-info {
		a {
			color: $text-color-light;
		}
	}

	svg {
		g {
			rect {
				&:nth-child(1) {
					fill: $background-color-dark;
				}
			}
			text {
				fill: $text-color-light;
			}
		}
	}
}
