.country-name {
  width: 90%;
  border: 2px solid silver;
  border-radius: 1em;
  padding: 0.5em 0;
  margin: 0.5em auto;
  transition: 0.3s ease;
  transform: scale(0.95);
  list-style: none;
  cursor: pointer;

  .text {
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    letter-spacing: 0.02em;
  }

  &:hover {
    transform: scale(1);
  }

  
}