.country-info {
	width: 85vw;
	margin: 2em auto 0 auto;

	button {
		border: 1px solid silver;
		margin-bottom: 2em;
	}

	&__date-picker {
		display: flex;
		flex-direction: column;

		label {
			cursor: pointer;
			padding: 0.5em 0;
			width: fit-content;

			&:nth-child(2) {
				margin-bottom: 1em;
			}
		}
	}
}
