header {
	display: flex;
	height: 60px;
	backdrop-filter: blur(5em);
	width: 100%;

	.global-info {
    display: flex;
		align-items: center;
		justify-content: space-around;
		min-width: 70%;
		max-width: 45%;
		margin: auto;
		font-weight: 600;
		letter-spacing: 0.01em;
		pointer-events: none;
	}

  button {
    pointer-events: all;
    margin-top: 0.1em;
    padding: 0.5em 1em;
    border-radius: .5em;
    cursor: pointer;
  }
}
