.info-box {
	position: absolute;
	right: 1em;
	bottom: 1em;
	padding: 1em;

	display: flex;
  align-items: center;
	width: fit-content;
	height: fit-content;
  pointer-events: none;

  &__colors {
    margin-top: 1em;
    margin-left: 2em;
    p {
      letter-spacing: 0.01em;
    }
  }
}
