* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
}

.all-countries {
	position: absolute;
	width: 500px;
	height: calc(100vh - 3.75em);
	overflow-y: auto;
	text-align: center;
	-webkit-backdrop-filter: blur(5em);
	backdrop-filter: blur(5em);
	line-height: 1.5em;

	&:focus {
		outline: none;
		transform: scale(1);
	}

	.search-area {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1.5em 0;

		#search-country {
			width: 400px;
			height: 38px;
			padding: 0 1em;
			border-radius: 1em;
			border: 1px solid silver;
			font-size: 1em;
			letter-spacing: 0.01em;
			transform: scale(0.95);
			transition: 0.3s ease;

			&:focus {
				outline: none;
				transform: scale(1);
			}
		}

		label {
			display: flex;
			flex-direction: column;
			align-items: center;

			span {
				font-weight: 500;
				font-size: 1em;
				letter-spacing: 0.01em;
			}

      #amount-of-countries {
        width: 100%;
        margin-top: .5em;
      }
		}
		button {
			margin: 2em 0 1.5em 0;
		}
	}
}
